In [1]:
import pandas as pd
import numpy as np

In [21]:
tabelas = pd.read_csv('tabela1959.csv')
tabelas = tabelas.iloc[0:,1:]

In [22]:
for i in range(1960,2020):
    if(i!=1967 and i!=1968):
        a = pd.read_csv('tabela'+str(i)+'.csv',encoding="latin-1")
        b = a.iloc[0:,1:]
        tabelas = pd.concat([tabelas,b])
        print(i)

1960
1961
1962
1963
1964
1965
1966
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019

In [23]:
tabelas

,Pos,Equipes,P,J,V,E,D,GP,GC,SG,%,Ano,PE
0,1,Bahia,20,14,9,2,3,25,18,7,"71,4285714285714",1959,NaN
1,2,Santos,5,5,2,1,2,9,7,2,50,1959,NaN
2,3,Gremio,9,6,4,1,1,8,5,3,75,1959,NaN
3,4,Vasco da Gama,2,3,1,0,2,2,3,-1,"33,3333333333333",1959,NaN
4,5,Sport,9,7,4,1,2,21,10,11,"64,2857142857143",1959,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,16,Ceara,39,38,10,9,19,36,41,-5,34,2019,NaN
16,17,Cruzeiro,36,38,7,15,16,27,46,-19,32,2019,NaN
17,18,CSA,32,38,8,8,22,24,58,-34,28,2019,NaN
18,19,Chapecoense,32,38,7,11,20,31,52,-21,28,2019,NaN
19,20,Avai,20,38,3,11,24,18,62,-44,17,2019,NaN

In [ ]:
a = pd.read_csv('tabela'+str(i)+'.csv',encoding="latin-1")

In [18]:
for i in range(1959,2020):
     if(i!=1967 and i!=1968):
        a = pd.read_csv('tabela'+str(i)+'.csv',encoding="latin-1")
        print(i)
        print(a.columns)

1959
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1960
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1961
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1962
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1963
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1964
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1965
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1966
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1969
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1970
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1971
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1972
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1973
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1974
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1975
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'PE', 'GP',
       'GC', 'SG', '%', 'Ano'],
      dtype='object')
1976
Index(['Unnamed: 0', 'Pos', 'Equipe', 'P', 'J', 'V', 'E', 'D', 'PE', 'GP',
       'GC', 'SG', '%', 'Ano'],
      dtype='object')
1977
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1978
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'PE', 'GP',
       'GC', 'SG', '%', 'Ano'],
      dtype='object')
1979
Index(['0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC', 'SG', '%',
       'Ano'],
      dtype='object')
1980
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1981
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1982
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1983
Index(['1', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC', 'SG', '%',
       'Ano'],
      dtype='object')
1984
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1985
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1986
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1987
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1988
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1989
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1990
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1991
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1992
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1993
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1994
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1995
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1996
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1997
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1998
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
1999
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
2000
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC ',
       'SG ', '%', 'Ano'],
      dtype='object')
2001
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
2002
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
2003
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
2004
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
2005
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
2006
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
2007
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
2008
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
2009
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
2010
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
2011
Index(['Unnamed: 0', 'Pos', 'Times', 'Pts', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
2012
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
2013
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
2014
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
2015
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
2016
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
2017
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
2018
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')
2019
Index(['Unnamed: 0', 'Pos', 'Equipes', 'P', 'J', 'V', 'E', 'D', 'GP', 'GC',
       'SG', '%', 'Ano'],
      dtype='object')

In [25]:
tabelas.to_csv('todasAsTabelas.csv')